<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->
    <script src="../js/base_pagination.js"></script>
    <script src="../js/service/goodsService.js"></script>
    <script src="../js/service/itemCatService.js"></script>
    <script src="../js/service/brandService.js"></script>
    <script src="../js/service/goodsDescService.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/goodsController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="goodsController" ng-init="reloadList();findCategory();" >
  <!-- .box-body -->

                    <div class="box-header with-border">
                        <h3 class="box-title">商品审核</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="审核通过" ng-click="setAuditStatus('1')" ><i class="fa fa-check"></i> 审核通过</button>
                                        <button type="button" class="btn btn-default" title="驳回" ng-click="setAuditStatus('2')" ><i class="fa fa-ban"></i> 驳回</button>
                                        <a class="btn btn-default" title="刷新" onclick="window.location.reload();" ><i class="fa fa-refresh"></i> 刷新</a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    商品名称：<input ng-model="searchEntity.goodsName" >
									<button class="btn btn-default" ng-click="reloadList()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th>
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">一级分类</th>
									      <th class="sorting">二级分类</th>
									      <th class="sorting">三级分类</th>
									      <th class="sorting">状态</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
                                      <tr ng-repeat="good in list" >
                                          <td><input  type="checkbox" ng-click="updateSelection($event,good.id)"></td>
                                          <td>{{good.id}}</td>
                                          <td>{{good.goodsName}}</td>
                                          <td>{{good.price}}</td>
                                          <td>{{categoryList[good.category1Id]}}</td>
                                          <td>{{categoryList[good.category2Id]}}</td>
                                          <td>{{categoryList[good.category3Id]}}</td>
                                          <td>
                                              <span>
                                                {{statusList[good.auditStatus]}}
                                              </span>
                                          </td>
                                          <td class="text-center">
		                                 	  <button type="button" ng-click="findByIds(good.brandId,good.id)" class="btn bg-olive btn-xs"  data-toggle="modal"  data-target="#sellerModal">详情</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
                            <tm-pagination conf="paginationConf"></tm-pagination>


                        </div>
                        <!-- 数据表格 /-->


                     </div>
                    <!-- /.box-body -->

  <div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" >
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">商家详情</h3>
              </div>
              <div class="modal-body">

                  <ul class="nav nav-tabs">
                      <li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>
                      <li><a href="#linkman" data-toggle="tab">商品图片</a></li>
                  </ul>

                  <!-- 选项卡开始 -->
                  <div id="myTabContent" class="tab-content">
                      <div class="tab-pane active in" id="home">
                          <br>
                          <table class="table table-bordered table-striped"  width="800px">
                              <tr>
                                  <td>商品分类</td>
                                  <td>{{categoryList[commodity.category1Id]}} >> {{categoryList[commodity.category2Id]}} >> {{categoryList[commodity.category3Id]}} </td>
                              </tr>
                              <tr>
                                  <td>商品名称</td>
                                  <td> {{commodity.goodsName}} </td>
                              </tr>
                              <tr>
                                  <td>品牌</td>
                                  <td> {{brand.name}} </td>
                              </tr>
                              <tr>
                                  <td>价格</td>
                                  <td> {{commodity.price}} </td>
                              </tr>
                              <tr>
                                  <td>商品介绍</td>
                                  <td> {{goodDesc.introduction}} </td>
                              </tr>
                              <tr>
                                  <td>包装列表</td>
                                  <td> {{goodDesc.packageList}} </td>
                              </tr>
                          </table>
                      </div>
                      <div class="tab-pane fade" id="linkman">
                          <br>
                          <table class="table table-bordered table-striped" >
                              <tr>
                                  <td>颜色</td>
                                  <td>图片</td>
                              </tr>
                              <tr ng-repeat="img in goodDesc.itemImages">
                                  <td>{{img.color}}</td>
                                  <td><img src="{{img.url}}" style="width: 100px; high:50px"></td>
                              </tr>
                          </table>
                      </div>

                  </div>
                  <!-- 选项卡结束 -->


              </div>
              <div class="modal-footer">
                  <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="selectIds=[commodity.id];setAuditStatus('1')">审核通过</button>
                  <button class="btn btn-danger"  data-dismiss="modal" aria-hidden="true" ng-click="selectIds=[commodity.id];setAuditStatus('2')">驳回</button>
                  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
              </div>
          </div>
      </div>
  </div>

</body>

</html>