<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
		xmlns="http://www.springframework.org/schema/security"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<!--配置不拦截的地址-->
	<http pattern="/login.html" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/img/**" security="none"/>
	<http pattern="/plugins/**" security="none"/>


	<http use-expressions="false">
		<!--配置拦截所有，能通过的用户角色为ROLE_USER-->
		<intercept-url pattern="/**" access="ROLE_USER"/>
		<!--自定义登录地址（/login），登录页面，成功页面，失败页面，锁定不论访问那个地址，认证成功都跳转到成功页面-->
		<form-login login-page="/login.html"  default-target-url="/admin/index.html" authentication-failure-url="/login.html" always-use-default-target="true"/>

		<headers>
			<frame-options policy="SAMEORIGIN"/>
		</headers>
		<!--设置注销页面与地址（默认为/logout），默认跳转到登录页面-->
		<logout/>
		<!--关闭跨服器-->
		<csrf disabled="true"/>
	</http>

	<!--配置身份认证管理-->
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="user" password="12345" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>